<!--<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
      <mat-toolbar class="example-header" color="accent" style="height: 50px;">LOGO</mat-toolbar>
      <mat-divider></mat-divider>
    </mat-sidenav>
   <mat-sidenav-content>-->
 
<mat-divider _ngcontent-ttx-c1="" class="mat-divider mat-divider-horizontal" style="background-color: #69f0ae;"
  role="separator" aria-orientation="horizontal"></mat-divider>

<div class="content" id="content">
  <full-calendar id="calendar1" [weekends]="true" [eventLimit]="true" [events]="calendarEvents"
    defaultView="dayGridMonth" [plugins]="calendarPlugins"></full-calendar>
</div>