mat-card{
    height: 100% !important;
    width: 100% !important;
    border-radius: 25px;
    padding: 0px !important;
    margin-bottom: 24px;
    /*position: absolute;
    display: flex;
    align-items: center;*/
    /*justify-content: center;*/
}
.content{
    padding: 16px;
}