 
<mat-divider _ngcontent-ttx-c1="" class="mat-divider mat-divider-horizontal" style="background-color: #69f0ae;"
  role="separator" aria-orientation="horizontal"></mat-divider>
<div class="content" id="content" #content>
      <mat-card>
        <div class="card-content-valign" style="padding: 16px;">
           <canvas id="donetaskspermonth" style="height: 300px;width:600px;"></canvas>
        </div>
      </mat-card>
      <mat-card>
        <div class="card-content-valign">
          <canvas id="tasksperproject" style="height: 300px;width:600px;"></canvas>
        </div>
      </mat-card>
      <mat-card>
        <div class="card-content-valign">
            <canvas id="done_not_done" style="height: 300px;width:600px;"></canvas>
        </div>
      </mat-card>
</div>