<div class="not-found">
  <h1 style="text-align: center;">
    <div class="icon mat-h1">
      <mat-icon aria-hidden="false" style="font-size: 100px !important;width:187px !important;" 
      aria-label="Example home icon">fingerprint</mat-icon>
    </div>
    <div class="text">
      Félicitations !! <br> votre compte a été confirmé !!
    </div><br><br><br>
    <button mat-raised-button color="accent" style="border-radius: 25px;" routerLink="/login">
      Se connecter
    </button>
  </h1>
</div>